.box {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 95vh;
  justify-content: center;
  padding: 0 1rem;
  position: relative;
}
.wrapper {
  grid-gap: 1rem;
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin: auto auto;
  text-align: center;
  align-items: center;
}

