.title{
  background-color: #e7d2cd;
}

.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}


.loading {
  text-align: center;
  font-size: 1.2rem;
}

.error {
  text-align: center;
  color: red;
  font-size: 1.2rem;
}

.recipesList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.recipeCard {
  background-color: #e6c2c2;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipeName {
  font-size: 1.5rem;
  color: #e83a4b;
  margin-bottom: 10px;
}

.recipeDescription {
  font-size: 1rem;
  color: #666;
  margin-bottom: 15px;
}

.ingredientsTitle,
.instructionsTitle {
  font-size: 1.2rem;
  color: #555;
  margin-top: 20px;
}

.ingredientsList {
  list-style-type: disc;
  padding-left: 20px;
}

.instructions {
  font-size: 1rem;
  color: #444;
}
